<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Home</title>
    <link rel="stylesheet" href="../../css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-6">
            <a href="/patient/list">Bid List</a>&nbsp;|&nbsp;
        </div>
        <div class="col-6 text-right">
            Logged in user: <b th:inline="text" class="user"> [[${#httpServletRequest.remoteUser}]] </b>
            <form th:action="@{/app-logout}" method="POST">
                <input type="submit" value="Logout"/>
            </form>
        </div>
    </div>
    <div class="row"><h2>Patient</h2></div>
    <div class="row">
        <a href="/bidList/add" class="btn btn-primary btn-sm">Add New</a>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>Id</th>
                <th>Family name</th>
                <th>Given name</th>
                <th>Date of Birth</th>
                <th>Civility</th>
                <th>Address</th>
                <th>Phone</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="patient : ${patients}">
                <td th:text="${patient.family}"></td>
                <td th:text="${patient.given}"></td>
                <td th:text="${patient.dob}"></td>
                <td th:text="${patient.sex}"></td>
                <td th:text="${patient.address}"></td>
                <td th:text="${patient.phone}"></td>
                <td style="width: 15%" class="text-center">
                    <a th:href="@{/patient/set/{id}(id=${patient.patId})}">Edit</a>&nbsp;|&nbsp;
                    <a th:href="@{/patient/del/{id}(id=${patient.patId})}">Delete</a>
				</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>