<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add a Patient</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" th:href="@{static/css/bootstrap.min.css}" />
</head>
<body>
<div class="container">

    <div class="row">
        <h2>Add New Patient</h2>
    </div>

    <div class="row">
        <form action="#" th:action="@{/patients/adding}" th:object="${createPatient}" method="post" class="form-horizontal"
              style="width: 100%">
            <div class="form-group">
                <label class="col-sm-2 control-label">Family name:</label>
                <div class="col-sm-10">
                    <input type="text" th:field="*{family}" id="family" placeholder="family name" class="col-4">
                    <p class="text-danger" th:if="${#fields.hasErrors('family')}" th:errors="*{family}"></p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Given name:</label>
                <div class="col-sm-10">
                    <input type="text" th:field="*{given}" id="given" placeholder="given name" class="col-4">
                    <p class="text-danger" th:if="${#fields.hasErrors('given')}" th:errors="*{given}"></p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Date of birth:</label>
                <div class="col-sm-10">
                    <input type="text" th:field="*{dob}" id="dob" placeholder="date of birth" class="col-4">
                    <p class="text-danger" th:if="${#fields.hasErrors('dob')}" th:errors="*{dob}"></p>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">Sex:</label>
                <div class="col-sm-10">
                    <input type="text" th:field="*{sex}" id="sex" placeholder="sexe" class="col-4">
                    <p class="text-danger" th:if="${#fields.hasErrors('sex')}" th:errors="*{sex}"></p>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">Address:</label>
                <div class="col-sm-10">
                    <input type="text" th:field="*{address}" id="address" placeholder="Address" class="col-4">
                    <p class="text-danger" th:if="${#fields.hasErrors('address')}" th:errors="*{address}"></p>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">Phone:</label>
                <div class="col-sm-10">
                    <input type="text" th:field="*{phone}" id="phone" placeholder="phone" class="col-4">
                    <p class="text-danger" th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}"></p>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-12">
                    <a class="btn btn-danger btn-sm" href="/createPatient/list">Cancel</a>
                    <input class="btn btn-primary btn-sm" type="submit" value="Add bidList">
                </div>
            </div>
        </form>
    </div>

</div>
</body>
</html>