<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>List of Notes</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="../../css/bootstrap.min.css" />
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-6">
            <a href="/patients/list">Return to the Patient List</a>&nbsp;|&nbsp;
        </div>
    </div>

    <div class="row"><h2>Patient history</h2>
    </div>
    <div class="row">
        <a href="/patients/list" class="btn btn-primary btn-sm">Back to the createPatient list</a>
        <a href="add" class="btn btn-primary btn-sm">add a note</a>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>Id</th>
                <th>List of notes</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="patHistory : ${patHistories}">
                <td th:text="${patHistory.id}"></td>
                <td th:text="${patHistory.note}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>