<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>List of Patient</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="../../css/bootstrap.min.css" />
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-6">
            <a href="/">Back to homepage</a>&nbsp;|&nbsp;
        </div>
    </div>

    <div class="row"><h2>Patient list</h2></div>
    <div class="row">
        <a href="/patients/add" class="btn btn-primary btn-sm">Add New Patient</a>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>Id</th>
                <th>Family name</th>
                <th>Given name</th>
                <th>Date of Birth</th>
                <th>Civility</th>
                <th>Address</th>
                <th>Phone</th>
                <th>Notes</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="patient : ${patients}">
                <td th:text="${patient.patId}"></td>
                <td th:text="${patient.family}"></td>
                <td th:text="${patient.given}"></td>
                <td th:text="${patient.dob}"></td>
                <td th:text="${patient.sex}"></td>
                <td th:text="${patient.address}"></td>
                <td th:text="${patient.phone}"></td>
                <td style="width: 15%" class="text-center">
                    <a th:href="@{/patients/patHistory/{id}/list(id=${patient.patId})}">See notes</a>
                </td>
                <td style="width: 15%" class="text-center">
                    <a th:href="@{/patients/set/{id}(id=${patient.patId})}">Edit</a>&nbsp;|&nbsp;
                    <a th:href="@{/patients/del/{id}(id=${patient.patId})}">Delete</a>
				</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>